In [ ]:
number = 0
while number<13:
  print("파이썬최고")
  number+=1

파이썬최고
파이썬최고
파이썬최고
파이썬최고
파이썬최고
파이썬최고
파이썬최고
파이썬최고
파이썬최고
파이썬최고
파이썬최고
파이썬최고
파이썬최고

In [ ]:
#break
number = 1
while True:
  print(number)
  number+=1
  if number>3:
    break

1
2
3

In [ ]:
#두개의 정수를 입력받아 더하는 코드를 작성하시오
#(단, 두개의 정수가 0이 들어올 때까지 반복하시오)

while True:
  num1 = int(input("첫번째 정수 입력>>"))
  num2 = int(input("두번째 정수 입력>>"))

  if num1==0 and num2==0:
    break
  print("두 수의 합 : {}".format(num1+num2))
print("프로그램이 종료되었습니다")

첫번째 정수 입력>>1
두번째 정수 입력>>2
두 수의 합 : 3
첫번째 정수 입력>>0
두번째 정수 입력>>0
프로그램이 종료되었습니다

In [ ]:
#5명에 대한 정보처리기사 자격증 시험점수가 리스트에 담겨짐
#이때 각 점수가 합격점수인지 불합격점수인지 판별하여 출력하시오
#60점이상 합격
score_list=[90,45,70,60,55]
number = 1
for score in score_list:
  if score >= 60:
    print("{}번 합격입니다.".format(number))
  else:
    print("{}번 학생은 불합격입니다.".format(number))
  number +=1

1번 합격입니다.
2번 학생은 불합격입니다.
3번 합격입니다.
4번 합격입니다.
5번 학생은 불합격입니다.

In [ ]:
score_list=[90,45,70,60,55]
number = 1
for score in score_list:
  if score >= 60:
       result = "합격"
  else:
       result = "불합격"
  print("{}번 학생은 불합격입니다.".format(number,result))
  number +=1

1번 학생은 불합격입니다.
2번 학생은 불합격입니다.
3번 학생은 불합격입니다.
4번 학생은 불합격입니다.
5번 학생은 불합격입니다.

In [ ]:
for i in range(97,76,-1):
  print(i, end=" ")

97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77

In [ ]:
for i in range(23,41,1):
  print(i, end=" ")

23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40

In [ ]:
list1 = [[1,2],[3,4],[5,6]]
for i,j in list1:
  print(i,j)

1 2
3 4
5 6

In [3]:
#while문 예제 
#랜덤으로 1부터 50사이의 숫자를 뽑으면 뽑은 숫자를 맞추는 UP and down
import random
com_num = random.randint(1,50)
while True:
  num = int(input("숫자를 입력하세요>>"))
  if num < com_num:
    print("{}보다 큰 수 입니다.".format(num))
  elif num > com_num:
    print("{}보다 작은 수 입니다.".format(num))
  else:
    print("정답입니다.!!")
    break

숫자를 입력하세요>>2
2보다 큰 수 입니다.
숫자를 입력하세요>>3
3보다 큰 수 입니다.
숫자를 입력하세요>>4
4보다 큰 수 입니다.
숫자를 입력하세요>>45
45보다 작은 수 입니다.
숫자를 입력하세요>>6
6보다 큰 수 입니다.
숫자를 입력하세요>>5
5보다 큰 수 입니다.
숫자를 입력하세요>>1
1보다 큰 수 입니다.
숫자를 입력하세요>>10
10보다 큰 수 입니다.
숫자를 입력하세요>>12
숫자를 입력하세요>>13
12보다 큰 수 입니다.
13보다 큰 수 입니다.
숫자를 입력하세요>>82
82보다 작은 수 입니다.
숫자를 입력하세요>>14
14보다 큰 수 입니다.
숫자를 입력하세요>>16
16보다 큰 수 입니다.
숫자를 입력하세요>>17
숫자를 입력하세요>>48
17보다 큰 수 입니다.
48보다 작은 수 입니다.
숫자를 입력하세요>>32
32보다 큰 수 입니다.
숫자를 입력하세요>>34
정답입니다.!!

In [6]:
start = int(input("첫번째 정수 입력>> "))
end = int(input("두번째 정수 입력>>"))

for i in range(start,end+1):
  print(i, end=" ")

첫번째 정수 입력>> 10
두번째 정수 입력>>30
10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [14]:
add = 0
for i in range(1,101):
  if i%3==0:
    add += i

In [16]:
add

1683

In [18]:
for i in range(1,10):
  print("2*{}={}".format(i, 2*i))

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18

In [23]:
num = int(input("정수입력>>"))

print("약수:", end=" ")
for i in range(1, num+1):
  if num%i==0:
    print(i, end=" ")

정수입력>>32
약수: 1 2 4 8 16 32